/target
tarpaulin-report.html
rust-toolchain.toml
/.fstar-cache
proptest-regressions
*.llbc
.logs/
.aeneas/
.tmp/

# Lean & Aeneas
.lake/
FunsExternal_Template.lean
TypesExternal_Template.lean

# Node
node_modules/
dist/

# MacOS
.DS_Store
